body {
    background: #fff;
    color: #706670;
    font-family: 'Upgrade-Regular', sans-serif;
    font-size: 12pt;
    line-height: 1.4em;
    font-weight: normal; 

    margin: 8px; /* Margin between all page content and window */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'Upgrade-Regular', sans-serif;
    line-height: 1.5em;
    margin: .45em 0;
    padding: 0; 
}
h1 {
    font-family: 'Upgrade-Semibold', sans-serif;
    margin: 0;
    font-size: 2em;
}
img {
    width: 100%;
}
p {
    font-size: 13pt;
    font-family: 'Upgrade-Book';
}
p em {
    font-style: normal;
    font-family: 'Upgrade-BookItalic';
}
a {
    text-decoration: none
}

.cssId { /* Debug showing e.cssId */
    font-size: 12pt;
    color: yellow;
    background-color: red;
}
.clearfix {
  overflow: auto; /* CSS hack to grow div including all child content. */
}

/* Header */
.header {
    float: left;
    width: 100%;
}
/* Logo */
.logo {
    float: left;
    width: 38%;
}
.logo .textbox h1 {
    font-size: 2em;
    font-family: 'Upgrade-Medium';
    letter-spacing: 0.02em;
    color: #1C5280;
}
/* Desktop navigation/menu */






/*MAIN MENU*/
.menu-toggle{
    display:block;
    padding:10px;
    margin:20px 0 0;
    background:#2C8CB7;
    letter-spacing:0.2em;
    color:#fff;
    cursor:pointer;
    text-transform:uppercase;
    font-size:20px;
}
.menu-toggle.toggled-on{
    background:#2C8CB7;
}
.srt-menu{
    display:none;
}   
.srt-menu.toggled-on{
    display:block;
    position:relative;
    z-index:10;
}

.srt-menu{
    clear:both;
    margin-bottom:60px;
    
}
.srt-menu li a {
    color:#666;
    background:#dadada;
    display:block;
    margin:1px 0; 
    padding:10px;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:0.10em;
    font-size:.8em;
}
.srt-menu li a:hover{
    background:#2C8CB7;
    color:#fff;
}
.srt-menu li li a {
    background:#e8e8e8;
    padding-left:40px;
}
.srt-menu li li li a {
    background:#efefef;
    padding-left:80px;
}

/*SECONDARY MENU*/
#secondary-navigation{
    margin-bottom:60px;
}
#secondary-navigation ul{
    margin:0;
    padding:0;
}
#secondary-navigation ul li a{ 
    background:#E6E6E6;
    color:#666;
    display:block;
    margin:5px 0; 
    padding:10px;
    text-decoration:none;
}
#secondary-navigation ul li a:hover,
#secondary-navigation ul li.current a{
    background:#2C8CB7;
    color:#fff;
}








/* Mobile menu and BurgerButton */

.menu {
    display: block;
    float: left;
    width: 100%;
}
/*
.burgerbutton {
    display: none;
    float: right;
    width: 8%;
}
.mobilemenu {
    display: none;
    float: left;
    width: 100%;
}
.mobilemenu button {
    background-color: #333;
    border: none;
    color: #eee;
    width: 100%;
    margin: 2px 0;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-family: 'Upgrade-Regular', sans-serif;
}
*/

/* Banner on full width */
.banner {
    clear: left;
    float: left;
    width: 100%;
    padding: 6pt 0;
    margin: 6pt 0 6pt 0 ;
}
.banner .textbox {
    width: 100%;
}
.banner .textbox h1 {
    line-height: 1.3em;
    font-size: 5em;
    font-family: 'Upgrade-Light', sans-serif;
    color: #333;
}

/* Introduction on full width */
.introduction {
    clear: left;
    float: left;
    width: 100%;
    color: black;
    background-color: #ddd;
    padding: 1em;
}
.introduction .textbox {
    width: 100%;
}
.introduction .textbox h1 {
    line-height: 1.2em;
    font-size: 3em;
    font-family: 'Upgrade-Light', sans-serif;
}

/* Slide show */
.slideshowgroup {
    float: left;
    width: 100%;
    background-color: #222;
}
.slideshow {
    float: left;
    width: 60%;
}
.slideside {
    float: right;
    width: 38%;
}
.slideside .textbox {
    padding: 0 1em 0 0;
}
.slideside .textbox h2 {
    color: white;
    letter-spacing: 0.05em;
    font-size: 1.4em;
    line-height: 1.4em;
    font-family: 'Upgrade-Regular';
}
.slideside .textbox p {
    color: white;
    letter-spacing: 0.05em;
    font-size: 1.1
    line-height: 1.4em;
    font-family: 'Upgrade-Book';
}
.slideside .textbox p em {
    fony-style: normal;
    font-family: 'Upgrade-Italic';
}

sup { /* Superior number of DDS Scale */
    top: 0em;
    color: #888888;
    font-size: inherit;
    vertical-align: inherit;
    -moz-font-feature-settings:"sups=1";
    -moz-font-feature-settings:"sups";
    -ms-font-feature-settings:"sups";
    -webkit-font-feature-settings:"sups";
    font-feature-settings:"sups";
}
h1 sup { /* Superior Scale number in H1 */
    color: #444444;
}
li sup { /* Superior Scale number in Menu */
    color: #AAAAAA;
}
/* Contain floats*/ 
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.row:after{
  clear: both;
}


/* Content */
.content {
    clear: left;
    width: 100%;
}
div.caption div.textbox {
    font-family: 'Upgrade-Italic';
    font-size: 1.1em;
    line-height: 1.4em;
}
.main {
    float: left;
    width: 75%;
}
.side {
    clear: right;
    float: right;
    width: 20%;
}
.footer {
    clear: left;
    width: 100%;
}

/****************************************
*****************************************
MEDIAQUERIES
*****************************************
****************************************/


@media only screen and (max-width: 800px) {
    .logo {
        width: 90%; /* Make space for BurgerButton */
    }
    .logo .textbox h1 {
        font-size: 1.5em;
        color: #1C5280;
        letter-spacing: 0.02em;
    }
    /*
    .burgerbutton {
        display: block;
    }
    .navigation {
        display: none;
        clear: left;
        float: left;
        width: 100%;
    }
    */
    /*** MAIN MENU - ESSENTIAL STYLES ***/
    .menu-toggle { display:none; } 
    #TopMenu-main-navigation { display:block; } /* TopMenu(SiteElement) */

    /*
    .menu {
        display: none;
        width: 100%;
    }
    .mobilemenu {
        display: none;
    }
    */
    .banner .textbox h1 {
        font-size: 3em;
        line-height: 1em;
    }
    .slideshow {
        width: 100%;
    }
    .slideside {
        float: left;
        width: 100%;
    }
    .slideside .textbox {
        padding-left: 12pt;
        padding-right: 12pt;
    }
    .introduction .textbox h1 {
        font-size: 2em;
        line-height: 1.2em;
    }
    .main {
        width: 100%;
    }
    .caption .textbox {
        font-family: 'Upgrade-Italic';
        font-size: 1.4em;
        line-height: 1.4em;
    }
    .side {
        width: 100%;
    }
}
@media only screen and (min-width: 800px) {
    /*
    .navigation {
        display: block;
    }
    .mobilemenu {
        display: none;
    }
    */
    .main {
        width: 60%;
    }
    .side {
        width: 38%;
    }
    .banner .textbox h1 {
        font-size: 4em;
        line-height: 1em;
    }


    /*** MAIN MENU - ESSENTIAL STYLES ***/
    .menu-toggle{display:none;}
    #topnav-main-navigation{display:block;} /* TopMenu(SiteElement) */

    .srt-menu, .srt-menu * {
        margin:         0;
        padding:        0;
        list-style:     none;
    }
    .srt-menu ul {
        position:       absolute;
        display:none;
        width:          12em; /* left offset of submenus need to match (see below) */
    }
    .srt-menu ul li {
        width:          100%;
    }
    .srt-menu li:hover {
        visibility:     inherit; /* fixes IE7 'sticky bug' */
    }
    .srt-menu li {
        float:          left;
        position:       relative;
        margin-left:1px;
        height:25px;
    }
    .srt-menu li li {
        margin-left:0px;
        height:auto;
    }
    .srt-menu a {
        display:        block;
        position:       relative;
    }
    .srt-menu li:hover ul,
    .srt-menu li.sfHover ul {
        display:block;
        left:           0;
        top:            42px; /* match top ul list item height */
        z-index:        99;
        -webkit-box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
        box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
    }
    ul.srt-menu li:hover li ul,
    ul.srt-menu li.sfHover li ul {
        top:            -999em;
    }
    ul.srt-menu li li:hover ul,
    ul.srt-menu li li.sfHover ul {
        left:           12em; /* match ul width */
        top:            0;
    }
    ul.srt-menu li li:hover li ul,
    ul.srt-menu li li.sfHover li ul {
        top:            -999em;
    }
    ul.srt-menu li li li:hover ul,
    ul.srt-menu li li li.sfHover ul {
        left:           10em; /* match ul width */
        top:            0;
    }

    /*** DEMO2 SKIN ***/
    #Navigation, .srt-menu { /* Navigation(SiteElement) */
        float:right;
        margin: .35em 0 0 0;
    }
    .srt-menu a {
        text-decoration:none;
    }
    .srt-menu li a{
        background:#fff;
        text-transform:uppercase;
        letter-spacing:0.10em;
        margin:0; 
        padding:10px 20px;
    }
    .srt-menu a, .srt-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
        color:          #666;   
    }
    .srt-menu li li a {
            border-top:     1px solid rgba(255,255,255,.2);
            background:     #333; /*fallback for old IE*/
            background:rgba(0,0,0,.6);
            color:  #fff;
            padding-left:20px;
    }
    .srt-menu li li a:visited{color:#fff;}
    .srt-menu li li li a,
    .srt-menu li.current * li a{
        padding-left:20px;
        background:rgba(0,0,0,.6);
    }

    .srt-menu li:hover > a,
    .srt-menu li.current a{ 
        color:#fff;
        background:#2A3A48;
    }
    .srt-menu li li:hover > a{
        color:#fff;
        background:#2C8CB7;
    }






}

/* PRINT STYLESHEET */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }